@font-face {
  font-family: "Caveat";
  src: url("assets/fonts/static/Caveat-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Inter";
  src: url("assets/fonts/Inter-VariableFont_slnt,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

:root {
  /* Typography */
  --font-medium: 400;
  --font-semi-bold: 600;
  --font-bold: 700;
  /* Colors */
  --white-main: #d8dee9; 
  --address-color: #F3F957;
  --white-about: #F6F0EF;
  --white-button: #eff1f6;
  --bg-color-button: #3A434E;
  --bg-color-card: #303841  ;
  --bg-color-main: #4f565e;
  --shadow-color: #F3F957;
}

* {
  box-sizing: border-box; /* makes sizing more predictable and avoids overflowing of viewport */
}

html {
  font-family: "Inter", sans-serif;
  font-size: clamp(12px, 2vh, 24px);
}

body {
  color: var(--white-main);
  background-color: var(--bg-color-main);
  height: 100vh;
  align-content: center;
  margin: 0;
}

.card {
  width: clamp(25vw, 30rem, 90vw);
  margin: auto;
  padding: 2.5rem;
  text-align: center;
  border-radius: 0.5rem;
  background-color: var(--bg-color-card);
}

.avatar {
  height: 5.5rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
}

.name {
  font-weight: var(--font-semi-bold);
  font-size: 1.75rem;
  margin: 1rem 0 0.5rem;
}

address {
  font-weight: var(--font-semi-bold);
  color: var(--address-color);
  font-style:normal;

}

.about {
  font-family: "Caveat", sans-serif;
  font-size: 1.25rem;
  color: var(--white-about);
  margin: 2rem 0 1.5rem;
}

nav {
  font-weight: var(--font-bold);

}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li + li {
  margin-top: 1rem;
}

a {
  display: block;
  background-color: var(--bg-color-button);
  padding: 1rem;
  border-radius: 0.5rem;
  color: var(--white-button);
  text-decoration: none;
  transition: box-shadow 0.1s ease-out, transform 0.1s;

  /* animation */
  &:is(:hover, :focus-visible) {
    box-shadow: 0px 0px 1em var(--shadow-color);
    transform: scale(1.01);
    outline: none;
    
    @media (hover: none) { /* unsets :focus-visible after tap */
      box-shadow: none;
      transform: scale(1.0);
    }
  }

  &:active {
    box-shadow: none;
    transform: scale(0.99);

    @media (hover: none) { /* animation for tap */
      -webkit-tap-highlight-color: transparent; /* unsets the default tap highlight */
      box-shadow: 
        inset 0px 0px 1em var(--shadow-color),
        0px 0px 0.5em 0.1em var(--shadow-color);
      transform: scale(0.95);
    }
  }
}

li {
  a::before {
    content: "";
    display: inline-block;
    height: 1.25em;
    aspect-ratio: 1/1;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 0.5em;
    vertical-align: sub;
  }
  &:nth-child(1) a::before {
    background-image: url("assets/images/github-icon.svg");
  }
  &:nth-child(2) a::before {
    background-image: url("assets/images/frontend-mentor-icon.png");
  }
  &:nth-child(3) a::before {
    background-image: url("assets/images/codepen-icon.png");
  }
  &:nth-child(4) a::before {
    background-image: url("assets/images/linkedin-icon.png");
  }
}




